@{
    ViewBag.Title = "About";
}
<div class="container">
    <h3 class="mb-30">About us</h3>
    <div class="row">
        <div class="col-lg-12">
            <blockquote class="generic-blockquote">
                School of Nursing & Biomedical Sciences, BGSB University, Rajouri (J&K)


                College of Nursing (Jammu), School of Nursing & Biomedical Sciences for women was established in the year 2016 by Baba Ghulam Shah Badshah University, Rajouri (J&K). It is located in outskirts of Jammu at kanger Morh, Kotbalwal which  is approachable by both public and private transport. College of nursing Jammu  is an affiliated to  Baba Ghulam Shah Badshah University, Rajouri (J&K). and recognized by Indian Nursing Council, New Delhi & permitted by Government of J&K for its purpose of nursing education since the year 2016.

                The department is offering Basic B. Sc. Nursing 4 year degree course with annual intake of 50 seats. All the seats are filled through the common entrance test conducted by BGSB University (Rajouri). The selection of candidates is based on the merit in the common entrance test.

                The main objective of the college is to impart quality of education and to prepare the graduate nurses to meet the demand of future who will work independently, in the hospital and community as a member of health care system. The level of education, the depth of curriculum and the exceptional practical experience at the college of nursing Jammu would add to the standard of health care wherever a graduate nurse would practice.

                The department is well established with furnished classrooms and equipped laboratories. All the teaching and learning activities are carried out with different types of teaching aids at college, field and hospital..

            </blockquote>
        </div>
    </div>
</div>

