@model ModelLayer.Notification

@{
    ViewBag.Title = "NotificationDetails";
}

<div class="card text-center">

    <div class="card-body">
        <div class="card-header">
            <h3>@Model.Title</h3>
        </div>
        <div>
            <p>
                @Model.Description
            </p>
        </div>
        </div>
    </div>
