
@{
    ViewBag.Title = "ForGetPassword";
}

<div class="container">
    <div class="typography">
        <h1>Forget Password</h1>
    </div>
    <br />
    @if (ViewBag.Message != null)
    {
        if (ViewBag.Message == "success")
        {
            <div class="alert alert-success">
                An email is sent to your register email please visit your email to recover you password
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                There is some issue please verify your username and try again later
            </div>
        }
    }
    @using (Html.BeginForm())
    {
        <table class="table">
            <tr>
                <td>UserCode</td>
                <td><input type="text" name="UserCode" class="form-control" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" name="submit" value="Forget Password" class="btn btn-primary btn-block" /></td>
            </tr>
        </table>
    }
    </div>
