@model ModelLayer.ResetPasswordViewModel
@{
                /**/

                ViewBag.Title = "ResetPassword";
}

<div class="container">
    <div class="typography">
        <h1>Reset Password</h1>
    </div>
    <br />
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-danger">
            An Email OTP is Expired
        </div>
    }
    @using (Html.BeginForm())
    {
        <table class="table">
            <tr>
                <td>NewPassword</td>
                <td>@Html.PasswordFor(x => x.Password)</td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td>@Html.PasswordFor(x => x.ConfirmPassword)</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="submit" class="btn-block btn-primary" value="Change Password" />
                </td>
            </tr>
        </table>
    }
    </div>

